/* خلفية القمر الصناعي */
.login-container {
    background: url('/images/2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
  }
  
  /* تنسيق الفورم */
  .form-card {
    margin-top: 30px;
    padding: 2rem;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px); /* تأثير الزجاج المموه */
    color: white;
  }


  

  
  .btn {
   background-color: #c83a3a;
    color: white;
    border: none;
    margin-left: 60px;
  }
  
  .btn:hover {
    background-color: #af3029;
  }
  