<div class=" container-fluid position-relative vh-100 d-flex justify-content-center align-items-center bg-container">
  <div class="background-image  "><img src="images/23.jpg"></div>

  <div class="container d-flex  ">
    <div class="row g-4 "  >
      <div class="col">
        <div class="card bg-transparent h-100 border-0 btn">
          <i class="fa-solid fa-satellite fa-2xl card-img-top text-center mb-5"
             style="font-size: 60px; margin-top: 20%; color: white;"></i>
          <a class="stretched-link" routerLink="telemetry"></a>
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Telemetry</h5>
            <p class="card-text fs-6">The Telemetry Subsystem is responsible for monitoring and transmitting critical satellite data. It ensures system health, enables diagnostics, and supports ground-based analysis and control.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-transparent h-100 border-0 btn">
          <i class="fa-solid fa-screwdriver-wrench fa-2xl card-img-top text-center mb-5"
             style="font-size: 60px; margin-top: 20%; color: white;"></i>
          <a class="stretched-link" routerLink="control"></a>
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Control</h5>
            <p class="card-text fs-6">The Control Subsystem manages satellite orientation, stability, and positioning. It utilizes sensors, onboard computers, and actuators to ensure precise navigation and mission execution.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card bg-transparent h-100 border-0 btn">
          <i class="fa-solid fa-camera-retro fa-2xl card-img-top text-center mb-5"
             style="font-size: 60px; margin-top: 20%; color: white;"></i>
          <a class="stretched-link" routerLink="payload"></a>
          <div class="card-body text-white">
            <h5 class="card-title fw-bold ">Payload</h5>
            <p class="card-text fs-6">The Payload Subsystem carries instruments for data collection, imaging, or communication. It operates alongside other systems to gather, process, and transmit mission-critical information.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




























































